.smallcard-container {
    margin-bottom: .5rem;
}

.smallcard-container-content {
    display: flex;
}
.smallcard-photo {
    width: 45%;
    margin-right: 1rem;
    display: flex;
   
}

.smallcard-photo > img {
    
    width: 100%;
}

.smallcard-title {
    display: flex;
    align-items: center;
}

.smallcard-line {
    margin-top: 0.5rem;
}