<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="left-main">
        <app-big-card 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
        cardTitle="Título da matéria"
        cardText="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quos eos ipsam sapiente labore itaque commodi quaerat consequatur saepe deleniti maiores perspiciatis, qui excepturi iste quas ducimus. Nesciunt, illo modi."
        >

        </app-big-card>
    </div>
    <div class="right-others">
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
    cardTitle="Titulozinho"
    ></app-small-card>
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
    cardTitle="Testinho"
    ></app-small-card>
    <app-small-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
    cardTitle="Testinho"
    linkTitle="https://www.linkedin.com/in/beatriz-cavalcante-554542271/"
    ></app-small-card>
    </div>
</div>


